@font-face {
	font-family: 'Ropa Sans';
	font-style: normal;
	font-weight: 400;
	src: url("../../font/ropa.html");
	src: url("../../font/ropa-2.html") format('woff');
}
body
{
	font-family: Arial, Helvetica, sans-serif;
	color: #404143;
	padding-bottom: 100px;
}

.hidden-label
{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
	display: block;
}

/* Modal */

.modal h1 {
	font-family: "Ropa Sans";
	text-transform: none;
	font-size: 24px;
	font-weight: normal;
	margin: 5px 0px 10px 0px;
	line-height: 100%;
	color: #2c3e50;
}

.modal .modal-header {
	padding-bottom: 5px;
}

.modal .btn-primary {
	color: #ffffff;
	background-color: #2846aa;
	background: rgb(45,79,191); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(45,79,191,1) 0%, rgba(40,70,170,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,79,191,1)), color-stop(100%,rgba(40,70,170,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(45,79,191,1) 0%,rgba(40,70,170,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(45,79,191,1) 0%,rgba(40,70,170,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(45,79,191,1) 0%,rgba(40,70,170,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(45,79,191,1) 0%,rgba(40,70,170,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d4fbf', endColorstr='#2846aa',GradientType=0 ); /* IE6-9 */
}

.modal .btn-primary:hover {
	background-color: #3D68FF;
	background: rgb(61,104,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(61,104,255,1) 0%, rgba(61,104,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,104,255,1)), color-stop(100%,rgba(61,104,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(61,104,255,1) 0%,rgba(61,104,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(61,104,255,1) 0%,rgba(61,104,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(61,104,255,1) 0%,rgba(61,104,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(61,104,255,1) 0%,rgba(61,104,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d68ff', endColorstr='#3d68ff',GradientType=0 ); /* IE6-9 */
}

.modal .btn-primary.disabled, .modal .btn-primary[disabled] {
	background-color: #2846aa;
	opacity: .8;
}

#timeout-modal {
	z-index: 20000;
}

/* Footer */

.footer
{
	position: fixed;
	z-index: 100;
	width: 100%;
	bottom: 0px;
	left: 0px;
	margin-top: 20px;
	border-bottom: 2px solid #fff;
	border-top: 1px solid #fff;
	padding: 5px 0px 0px 0px;
	background: #f4f7f8;
	-moz-box-shadow: 0px -1px 0px #f4f7f8;
	-webkit-box-shadow: 0px -1px 0px #f4f7f8;
	box-shadow: 0px -1px 0px #f4f7f8;
	color: #22303e;
	font-size: 11px;
}

.footer .container
{
	width: 960px;
	padding: 0px 10px;
}


.footer ul
{
	overflow: hidden;
	margin-bottom: 5px;
}

.footer ul li
{
	float: left;
}

.footer ul li a 
{
	padding-left: 8px;
	border-left: 1px solid #22303e;
	text-decoration: underline;
	margin-left: 8px;
	color: #22303e;
}

.footer ul li:first-child a 
{
	border-left: none;
}

.footer ul li a:hover
{
	text-decoration: none;
}

.footer .icon-eql-lndr {
	background: url(../../ubimages/icon-eql-lndr-14x11.png) no-repeat 0 0;
	width: 14px;
	height: 11px;
	margin: 0 4px;
	vertical-align: text-top;
	display: inline-block;
}

/* Header */

#print-only-logo { display: none; }
	
.header-ub .container
{
	width: 960px;
	padding: 0px 10px;
	position: relative;
}

.header-ub
{
	min-width: 960px;
	position: relative;
	background: #F3F3F3;
	margin-bottom: 20px;
	font-family: "Ropa Sans";
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.header-ub .span12
{
	position: relative;
}

.skip-to-content
{
	display: block;
	height: 0px;
	width: 0px;
	overflow: hidden;
	position: fixed;
	left: -1000px;
}

/* Main Navigation */

#nav-main {
	background: #F3F3f3;
	border-bottom: 2px solid #9b9b9b;
	height: 60px;
}

#nav-main .navigation > li
{
	float: left;
	display: inline-block;
	position: relative;
}

#nav-main .navigation > li.pull-right {
	float: right;
	position:  relative;
	margin: 14px 0 0 0;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #d1d1d1;
}

#nav-main .navigation > li.pull-right > ul li {
	float: left;
}

#nav-main .navigation > li.pull-right > ul li a {
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	display: block;
	border-right: 1px solid #d1d1d1;
	text-align: center;
	position: relative;
	padding: 5px 15px;
	text-decoration: none;
	text-shadow: none;
}

#nav-main .navigation > li.pull-right > ul li.nav-inbox a {
	border-right: 0;
	outline: 0;
}

#nav-main .navigation li.v-divider
{
	width: 0;
	background: none;
	border-left: 1px solid #fff;
	border-right: 1px solid #d0d0d0;
	height: 60px;
}

#nav-main .navigation .badge { 
	background: #e60000;
	font-size: 11px;
	padding: 3px 5px 2px 5px;
	border: 2px solid #f3f3f3;
	position: absolute;
	right: -6px;
	top: -9px;
	line-height: 11px;
	text-shadow: none;
}

#nav-main .navigation .dropdown-toggle
{
	display: inline-block;
	padding: 20px 15px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	color: #2846aa;
	cursor: pointer;
	text-decoration: none;
}

#nav-main .navigation .dropdown-toggle:hover, #nav-main .navigation .dropdown-toggle:focus
{
	text-decoration: none;
	background: #fff;
	color: #2c3e50;
}

#nav-main .navigation .dropdown.open {
	margin: 0 -2px 0 -2px;
	padding: 0;
	z-index: 1;
}

#nav-main .navigation .dropdown.open .dropdown-toggle {
	background: #ddd;
	color: #2c3e50;
	border: 1px solid #9b9b9b;
	border-bottom: 0;
	padding: 19px 16px 21px 16px;
	position: relative;
	z-index: 1001;
}

#nav-main .navigation .dropdown.open .dropdown-menu {
	left: 0;
	top: 58px;
	position: absolute;
}

#nav-main .navigation .dropdown .dropdown-menu
{
	border: 1px solid #9b9b9b;
	background: #ddd;
	padding: 0;
	left: -1000px;
	top: -1000px;
	position: fixed;
	border-radius: 0;
	box-shadow: none;
	min-width: 200px;
}

#nav-main .navigation .dropdown-menu > ul li
{
	border-top: 1px solid #9b9b9b;
	border-bottom: 1px solid #fff;
}

#nav-main .navigation .dropdown-menu > ul li:first-child
{
	border-top: none;
}

#nav-main .navigation .dropdown-menu > ul li:last-child
{
	border-bottom: none;
}

#nav-main .navigation .dropdown-menu > ul li a
{
	padding: 10px 15px 10px 15px;
	color: #2846aa;
	font-size:  14px;
	text-shadow: none;
}

#nav-main .navigation .dropdown-menu ul li a:hover, #nav-main .navigation .dropdown-menu ul li a:focus
{
	background: #c6c6c6;
	background: rgba(0,0,0,.1);
	text-decoration: none;
	color: #2c3e50;
	text-shadow: none;
}

#nav-main .navigation .dropdown-menu > ul li a.nested
{
	padding-left: 45px;
	font-weight: normal;
}
#nav-main .navigation .rsm {
	overflow: auto;
}
#nav-main .navigation .rsm.iefix {
	display: block;
}

/* Utility Navigation */

#nav-util
{
	background: #2846aa;
	border-bottom: 1px solid #fff;
	font-size: 16px;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
}

#nav-util .brand
{
	height: 47px;
	margin: 0;
	width: 100px;
	background: url(../../ubimages/logo-help.png) center left no-repeat;
}

#nav-util .nav
{
	margin-bottom: 0px;
}

#nav-util .nav > li
{
	float: left;
	border: 0;
	border-left: 1px solid #5c82ff;
	height: 47px;
}

#nav-util .nav > li.clear
{
	float: none;
	clear: both;
	border: none;
	height: 0;
}

#nav-util .nav > li .btn-group
{
	margin: 0 12px 0 6px;
	border-right: 0;
	height: 47px;
}

#nav-util .nav > li .btn-group .btn
{
	border: 1px solid #5c82ff;
	border-radius: 0px;
	background: #FFF;
	min-width: 155px;
	max-width: 555px;
	padding: 4px 35px 4px 10px;
	margin-top: 7px;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	position: relative;
	float: right;
	text-overflow: ellipsis;
}

#nav-util .nav > li .btn:hover, #nav-util .nav > li .open .btn, #nav-util .nav > li .btn:focus
{
	text-decoration: none;
	background: #243d90;
	text-shadow: none;
}

#nav-util .nav > li.nav-user {
	border-left: 0;
}

#nav-util .nav > li.nav-profile, #nav-util .nav > li.nav-contact {
	border-right: 1px solid #122565;
}

#nav-util .nav > li.nav-profile > a, #nav-util .nav > li.nav-profile > .dropdown > a, #nav-util .nav > li.nav-contact > a, #nav-util .nav > li.nav-contact > .dropdown > a {
	border-right: 1px solid #5c82ff;
}

#nav-util .nav > li.nav-logout, #nav-util .nav > li.nav-logout > a, #nav-util .nav > li.nav-logout > .dropdown > a {
	border-left: 0;
}

#nav-util .nav > li.nav-logout > a, #nav-util .nav > li.nav-logout > .dropdown > a {
	background: #e60000;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	line-height: normal;
	margin: 10px 0 0 20px;
	padding: 6px 20px;
}

#nav-util .nav > li.nav-logout .btn:hover, #nav-util .nav > li.nav-logout .btn:focus {
	background: #cf0000 !important;
}

#nav-util .nav > li.nav-user label {
	display: inline-block;
	cursor: default;
	color: #fff;
	line-height: 47px;
	margin-bottom: 0;
}

#nav-util .nav > li .dropdown-user {
	display: inline-block;
}

#nav-util .nav > li .dropdown-user .btn:hover, #nav-util .nav > li .dropdown-user.open .btn, #nav-util .nav > li .dropdown-user .btn:focus {
	background: #fff !important;
}

#nav-util .nav > li .btn-group .btn {
	color: #2c3e50;
}

#nav-util .nav > li .btn-group .btn .btn-nav-icon
{
	position: absolute;
	right: 0px;
	top: 0px;
	height: 28px;
	line-height: 28px;
	padding: 0 8px;
	font-size: 20px;
	border-left: 1px solid #5c82ff;
	color: #2c3e50;
}

#nav-util .nav > li .btn-group .btn .btn-nav-icon i.caret
{
	border-top-width: 6px;
	border-top-color: #2c3e50;
	border-left-width: 6px;
	border-right-width: 6px;
	border-bottom-color: #2c3e50;
	margin-top: 12px;
}

#nav-util .nav > li > a, #nav-util .nav > li > .dropdown > a
{
	padding: 0 10px;
	border: 0;
	border-left: 1px solid #122565;
	font-size: 12px;
	line-height: 47px;
	color: #fff;
	text-shadow: none;
}

#nav-util .nav > li > .dropdown.open > a {
	position: relative;
	background: #243d90;
	z-index: 1005;
}

#nav-util .nav > li .btn-group.open .btn
{
	box-shadow: none;
}

#nav-util .nav > li .btn-group .dropdown-menu
{
	margin-top: -11px;
	min-width: 200px;
	max-width: 600px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	box-shadow: none;
	padding: 0px;
	border: 1px solid #5c82ff;
}

#nav-util .nav > li .btn-group .dropdown-menu a {
}

#nav-util .nav > li .btn-group .dropdown-menu a:hover, #nav-util .nav > li .btn-group .dropdown-menu a:focus {
	background: #243d90;
	text-decoration: none;
	color: #fff;
	text-shadow: none;
}

#nav-util .nav > li .btn-group .dropdown-menu > li a
{
	padding: 5px 10px;
	border-top: 1px solid #5c82ff;
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
}

#nav-util .nav > li .btn-group .dropdown-menu > li:first-child a
{
	border-top: none;
}

#nav-util .nav > li .dropdown .dropdown-menu
{
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #192c6a;
	background: #243d90;
	margin: -1px 1px 0 0;
	padding: 0;
	font-size: 12px;
}

#nav-util .nav > li .dropdown .dropdown-menu a {
	color: #fff;
	padding: 4px 10px;
	display: block;
}

#nav-util .nav > li .dropdown .dropdown-menu a:hover, #nav-util .nav > li .dropdown .dropdown-menu a:focus {
	background: #203681;
	background: rgba(0,0,0,.1);
	text-decoration: none;
	text-shadow: none;
}

#nav-util .nav > li .dropdown .dropdown-menu > ul li
{
	border-top: 1px solid #2742a0;
	border-bottom: 1px solid #192c6a;
}

#nav-util .nav > li .dropdown .dropdown-menu > ul li:first-child
{
	border-top: none;
}

#nav-util .nav > li .dropdown .dropdown-menu > ul li:last-child
{
	border-bottom: none;
}

/* Private */


.private #nav-util {
	background: #1a454f;
}

.private #nav-util .brand {
	background-image: url(../../images/topnav/logo-private.html);
	width: 106px;
}

.private #nav-util .nav > li .btn-group .btn, .private #nav-util .nav > li .btn-group .dropdown-menu {
	border-color: #3495ab;
}

.private #nav-util .nav > li > a, .private #nav-util .nav > li > .dropdown > a, .private #nav-util .nav > li .btn-group .btn .btn-nav-icon {
	border-left-color: #112d35;
}

.private #nav-util .nav > li .btn-group .dropdown-menu > li a {
	border-top-color: #3495ab;
}

.private #nav-util .nav > li.nav-profile, .private #nav-util .nav > li.nav-contact {
	border-right-color: #112d35;
}

.private #nav-util .nav > li.nav-profile > a, .private #nav-util .nav > li.nav-profile > .dropdown > a, .private #nav-util .nav > li.nav-contact > a, .private #nav-util .nav > li.nav-contact > .dropdown > a {
	border-right-color: #3495ab;
}

.private #nav-util .nav > li {
	border-left-color: #3495ab;
}

.private #nav-main .navigation .dropdown-toggle, .private #nav-main .navigation .dropdown-menu > ul li a, .private #nav-main .navigation > li.pull-right > ul li a {
	color: #1a454f;
}

.private #nav-main .navigation .dropdown-menu ul li a:hover, .private #nav-main .navigation .dropdown-menu ul li a:focus, .private #nav-main .navigation .dropdown-toggle:hover, .private #nav-main .navigation > li.pull-right > ul li a:hover, .private #nav-main .navigation .dropdown-toggle:focus, .private #nav-main .navigation > li.pull-right > ul li a:focus
{
	color: #2c3e50;
}

.private #nav-util .nav > li .dropdown .dropdown-menu
{
	background: #22303e;
	border-color: #121a22;
}

.private #nav-util .nav > li .dropdown .dropdown-menu a:hover, .private #nav-util .nav > li .dropdown .dropdown-menu a:focus {
	background: #1e2b37;
	background: rgba(0,0,0,.1);
}

.private #nav-util .nav > li .dropdown .dropdown-menu > ul li {
	border-bottom-color: #476684;
	border-top-color: #121a23;
}

.private #nav-util .nav > li > .dropdown.open > a, .private #nav-util .nav > li .btn-group .dropdown-menu a:hover, .private #nav-util .nav > li .btn-group .dropdown-menu a:focus {
	background: #22303e;
}

.private #nav-util .nav > li .btn:hover, .private #nav-util .nav > li .open .btn, .private #nav-util .nav > li .btn:focus
{
	background: #173e47;
	background: rgba(0,0,0,.1);
}

/* Priority */

.priority #nav-util {
	background: #1f2023;
}

.priority #nav-util .brand {
	background-image: url(../../images/topnav/logo-priority.html);
	width: 205px;
}

.priority #nav-util .nav > li .btn-group .btn, .priority #nav-util .nav > li .btn-group .dropdown-menu {
	border-color: #474b55;
}

.priority #nav-util .nav > li > a, .priority #nav-util .nav > li > .dropdown > a, .priority #nav-util .nav > li .btn-group .btn .btn-nav-icon {
	border-left-color: #474b55;
}

.priority #nav-util .nav > li .btn-group .dropdown-menu > li a {
	border-top-color: #474b55;
}

.priority #nav-util .nav > li.nav-profile, .priority #nav-util .nav > li.nav-contact {
	border-right-color: #000;
}

.priority #nav-util .nav > li.nav-profile > a, .priority #nav-util .nav > li.nav-profile > .dropdown > a, .priority #nav-util .nav > li.nav-contact > a, .priority #nav-util .nav > li.nav-contact > .dropdown > a {
	border-right-color: #474b55;
}

.priority #nav-util .nav > li {
	border-left-color: #000;
}

.priority #nav-main .navigation .dropdown-toggle, .priority #nav-main .navigation .dropdown-menu > ul li a, .priority #nav-main .navigation > li.pull-right > ul li a {
	color: #1f2023;
}

.priority #nav-main .navigation .dropdown-menu ul li a:hover, .priority #nav-main .navigation .dropdown-menu ul li a:focus, .priority #nav-main .navigation .dropdown-toggle:hover, .priority #nav-main .navigation > li.pull-right > ul li a:hover, .priority #nav-main .navigation .dropdown-toggle:focus, .priority #nav-main .navigation > li.pull-right > ul li a:focus
{
	color: #2c3e50;
}

.priority #nav-util .nav > li .dropdown .dropdown-menu
{
	background: #71623f;
	border-color: #594e32;
}

.priority #nav-util .nav > li .dropdown .dropdown-menu a:hover, .priority #nav-util .nav > li .dropdown .dropdown-menu a:focus {
	background: #655838;
	background: rgba(0,0,0,.1);
}

.priority #nav-util .nav > li .dropdown .dropdown-menu > ul li {
	border-bottom-color: #9e8a59;
	border-top-color: #3e3623;
}

.priority #nav-util .nav > li > .dropdown.open > a, .priority #nav-util .nav > li .btn-group .dropdown-menu a:hover, .priority #nav-util .nav > li .btn-group .dropdown-menu a:focus {
	background: #71623f;
}

.priority #nav-util .nav > li .btn:hover, .priority #nav-util .nav > li .open .btn, .priority #nav-util .nav > li .btn:focus
{
	background: #000;
}

/* Generic Nav Styles */

.navigation {
	margin-left: 0px;
}

.navigation li.clear
{
	clear: both;
	float: none;
}

/* AO Hidden View */

.ao-hidden-view .nav-profile, .ao-hidden-view .nav-alerts, .ao-hidden-view .footer-sitemap {
	visibility: hidden;
}

.ao-hidden-view #nav-util .nav > li.nav-help {
	border-right: 1px solid #122565;
}

.ao-hidden-view #nav-util .nav > li.nav-help > a {
	border-right: 1px solid #5c82ff;
}

.ao-hidden-view.priority #nav-util .nav > li.nav-help {
	border-right: 1px solid #474b55;
}

.ao-hidden-view.priority #nav-util .nav > li.nav-help > a {
	border-right: 1px solid #000;
}

.ao-hidden-view.private #nav-util .nav > li.nav-help {
	border-right: 1px solid #112d35;
}

.ao-hidden-view.private #nav-util .nav > li.nav-help > a {
	border-right: 1px solid #3495ab;
}

/* FC Hidden View */

.fc-hidden-view .nav-profile,
.fc-hidden-view .nav-alerts,
.fc-hidden-view .nav-logout,
.fc-hidden-view .nav-user,
.fc-hidden-view #nav-main .nav-link-apps,
.fc-hidden-view #nav-main .nav-divider-apps,
.fc-hidden-view #nav-main .nav-link-admin,
.fc-hidden-view #nav-main .nav-divider-admin {
	display:none;
}
.fc-hidden-view #nav-util .nav > li.nav-help, .fc-hidden-view #nav-util .nav > li.nav-help a {
	border-left: 0;
	border-right: 0;
}

/*
.ao-hidden-view #nav-util .nav > li.nav-help {
	border-right: 1px solid #122565;
}

.ao-hidden-view #nav-util .nav > li.nav-help > a {
	border-right: 1px solid #5c82ff;
}

.ao-hidden-view.priority #nav-util .nav > li.nav-help {
	border-right: 1px solid #474b55;
}

.ao-hidden-view.priority #nav-util .nav > li.nav-help > a {
	border-right: 1px solid #000;
}

.ao-hidden-view.private #nav-util .nav > li.nav-help {
	border-right: 1px solid #112d35;
}

.ao-hidden-view.private #nav-util .nav > li.nav-help > a {
	border-right: 1px solid #3495ab;
}*/

/* Default Page Modal */

#defaultPage .modal-body label {
	text-transform: uppercase;
}

/* Hello Bar */

#hello-bar {
	position: relative;	
	z-index: 2;
	display: none;
}

#hello-bar-content {
	background: #f4f7f8;
	height: 40px;
	position:  relative;
	box-shadow: 0px 1px 1px #666;
	border-bottom: 1px solid #666;
	display:  block;
}

#hello-bar-content .container {
	padding-top: 8px;
}

#hello-bar-content .msg {
	padding: 0 0 0 30px;
	background: url(../../images/topnav/icon-mobile-banking.html) no-repeat top left;
	height: 24px;
	line-height: 24px;
	color: #2c3e50;
	font-size: 12px;
	font-family: "Helvetica", "Arial", sans-serif;
}

#hello-bar-content .lbl {
	font-weight: bold;
	text-transform:  uppercase;
}

#hello-bar-content a {
	color: #2846aa;
	text-decoration: underline;
}

/* Scenario Selector Styles - Temporary Styles for Nav Demo */

#scenario-content .container {
	background: #eee;
	border-radius: 10px;
	padding: 20px;
	margin: 50px auto;
}

#scenario-content h1 {
	font-family: "Ropa Sans";
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
	font-size: 24px;
	font-weight: normal;
	margin: 0 0 10px 0;
	color: #404143;
	text-transform: uppercase;
}

.scenario-selector a {
	cursor: pointer;
	color: #2846aa;
	text-decoration: underline;
	font-size: 14px;
}